sources:
  (reference to db in code): s3://chembl-db/chembl_28.db
  
files:
  "/etc/nginx/conf.d/proxy.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
         client_max_body_size 20M;
  
container_commands:
  install_R:
    "sudo amazon-linux-extras install R4 --installroot=/usr/lib64/R"
    leader_only: true
  install_pkgs:[
    "sudo R",
    "install.packages(c('BiocManager', 'forcats', 'stringr'))",
    "BiocManager::install(c('GEOquery','limma', 'pheatmap', 'plsgenomics'))"
    ]
