###################################################################################################
#### This configuration file runs a PowerShell script that installs R and necessary packages for
#### the website. It should also create a different version of the nginx.conf file than standard.
####
#### Author: @amandaholyn Updated: March 1, 2021
###################################################################################################

files:
  "/etc/nginx/nginx.conf":
  - mode: '000755'
    owner: root
    group: root
    source: https://github.com/acholyn/testing/blob/master/.ebextensions/nginx.conf
    
container_commands:
  a_install:
    command:
      sudo amazon-linux-extras install R4 --installroot=/usr/lib64/R
      sudo yum install libcurl-devel openssl-devel
      sudo yum install libxml2-devel libxslt-devel python-devel
    leader_only: true
  b_install_pkgs:
    command:
      sudo R
      install.packages(c('BiocManager', 'forcats', 'stringr'))
      BiocManager::install(c('GEOquery','limma', 'pheatmap', 'plsgenomics'))
  c_copy_over:
    command: sudo cp -a '/usr/lib64/R/library/. /usr/share/R/library'
