{
	"files": {
		"/etc/nginx/conf.d/proxy.conf": [{
			"mode": "000755",
			"owner": "root",
			"group": "root",
			"content": "client_max_body_size 20M;"
		}]
	},

	"commands": [

		{
			"install_R": {
				"command": "sudo amazon-linux-extras install R4 --installroot=/usr/lib64/R",

				"leader_only": true
			}
		},
		
	]



}
