{% extends 'base.html' %}
{% block title %}
<title>
Browse Our Data | QMUL Transcription Factor Database
</title>
{% endblock %}
{% block content %}
        <!--Page contents-->
     <div class="container-fluid" style="padding-bottom:2vh">
        <h1 style="font-size: 2em; font-weight:300; text-align: center; color: #FFF; padding-top:20px">List of Transcription Factors</h1>
        
        <!--TF list-->
        <div class="container-fluid" style="padding-bottom:2vh">
        <div class="table">
            <table id="tf-list" class="hover" width="95%" style="background-color:#FFF">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Transcription Factor Gene Symbol</th>
                    <th scope="col">Transcription Factor Name </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for i in tf.keys() %}
                <td><a href="{{url_for('tfprofile', htf_name = i ) }}"> {{ i }}  </a></td>
                <td>{{ tf[i] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
     </div>
<br>
<!-- Drug List coming soon-->


{% endblock %}





