{% extends 'base.html' %}
{% block title %}
<title>
Download Data | QMUL Transcription Factor Database
</title>
{% endblock %}}

{% block content %}
    <!-- Page contents -->
            <div class="container">
                <div class="row">
                    <div class="card card-2">
                      <h2>Team Amanda hTF v1</h2>
                      <span class="filename">teamAmandahTF.zip</span>
                      <h2 class="changelog_title">Download our data</h2>
                      <div class="changelog">
                        <p>Clicking the download button will commence a download of a zipped file containing the data from our database.</p>
                      </div>
                      <a href="#" class="btn" style="float: right" download="Team-Amanda-data.zip">
                        Download
                      </a>
                    </div>
                </div> 
           </div>

{% endblock %}
