{% extends 'base.html' %}
{% block title %}
<title>
Download Data | QMUL Transcription Factor Database
</title>
{% endblock %}}

{% block content %}
    <!-- Page contents -->
            <div class="container">
                <div class="row">
                    <div class="card card-2">
                      <h2 style="color: #0f4cce">Team Amanda hTF v1</h2>
                      <span class="filename">teamAmandahTF.zip</span>
                      <h2 class="changelog_title">Download our data</h2>
                      <div class="changelog">
                        <p>Clicking the download button will commence a download of a zipped file containing the data used on the site.
                        <br> To download the complete zipped database (1.7GB) click <a href="https://chembl-db.s3.eu-west-2.amazonaws.com/chembl_28.zip" download="Team-Amanda-full-db">here</a> </p>
                      </div>
                      <a href="https://chembl-db.s3.eu-west-2.amazonaws.com/transfacts.db" class="btn" style="float: right" download="Team-Amanda-data">
                        Download
                      </a>
                    </div>
                </div> 
           </div>

{% endblock %}
