{% extends 'base.html' %}
{% block title %}
<title>
{{drug_name}} | QMUL Transcription Factor Database
</title>
{% endblock %}

{% block content %}
<!--page contents-->
    <div class="container" style="padding-top: 20px; background-color: #FFF; margin-top: 15px">
        <div class="row">
        <div class="col">
            <!--profile side-->
        <div class="col-lg-4 col-md-5 xs-margin-30px-bottom" id="profile-info">
            <div class="padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                 <!--drug structure photo-->
                <img src="https://www.ebi.ac.uk/chembl/api/data/image/{{ chembl_id }}.svg" alt="drug-image">
                <br>
            </div>
        </div>
        </div>
           <!--name and description-->
            <div class="col">
              <div class="col-lg-12 col-md-9" style="padding-top: 20px">
                  <div class="container">
                <div class="team-single-text padding-25px-left sm-no-padding-left" style="text-align: center">
                    <h4 class="font-size38 sm-font-size32 xs-font-size30">{{ drug_name }}</h4>
                        <p> {{ description }}</p> <br>
                    <div class="info-section margin-40px-tb">
                    </div>
                </div>
                  </div>
              </div>
                <br>
                 <!-- profile tidibts info-->
                <div class="row">
                    <div class="col-md-7 col-7">
                        <i class="fas fa-check-square"></i>
                        <strong class="margin-5px-left text">Chembl ID:</strong>
                    </div>
                    <div class="col-md-5 col-5">
                    <p><a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ chembl_id }}">{{ chembl_id }}</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-7">
                        <i class="fas fa-crosshairs"></i>
                        <strong class="margin-5px-left text">Approval Year:</strong>
                    </div>
                    <div class="col-md-5 col-5">
                        <p>{{ first_approval }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-7">
                        <i class="fas fa-crosshairs"></i>
                        <strong class="margin-5px-left text">Molecule Type:</strong>
                    </div>
                    <div class="col-md-5 col-5">
                        <p>{{ molecule_type }}</p>
                    </div>
                </div>
            </div>
        </div>
            </div>


        <hr>
        <!--Info Table-->
    <section>
        <div class="container-fluid">
            <div class="table"><h5 class="font-size24 sm-font-size22 xs-font-size20" style="padding-top: 30px">Drug Action on Targets</h5>
                <table id="drug-action" class="hover" width="100%" style="border: 1px solid #54545c">
                <thead>
                <tr class="table-info">
                    <th scope="col">Preferred Name</th>
                    <th scope="col">Target Name</th>
                    <th scope="col">Action Type</th>
                    <th scope="col">Compound Name</th>
                </tr>
                </thead>
                    <tbody>
                    {% for i in drug_data %}
                    <tr>
                    <td>{{ i["PREF_NAME"] }}</td>
                    <td><a href="{{url_for('tfprofile', htf_name= i['Symbol'] )}}"> {{ i["Symbol"] }}  </a> </td>
                    <td>{{ i["ACTION_TYPE"] }}</td>
                    <td>{{ i["COMPOUND_NAME"] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

<br><br>
{% endblock %}