{% extends 'base.html' %}
{% block title %}
<title>
Error! | QMUL Transcription Factor Database
</title>
{% endblock %}
 {% block content %}
        <!--Page Contents-->
        <div class="jumbotron jumbotron-fluid text-center bg-event text-light" style="margin-bottom: 0px">
      <h1 class="display-4">Uh-oh</h1>
      <p class="lead" style="padding-left: 50px; padding-right: 50px; font-size: 18px">It seems we couldn't find what you were looking for. Click below to start a new search.</p>
        <div class="container" style="padding-left: 30px; padding-right: 30px">
        
            <!--re-search button-->
            <a href="/search">
             <input type = "submit" value = "New Search"  style="border-radius:8px; font: Roboto; background-color: transparent; border-color: #ffffff; border-style: solid; border-width: thin; color: #fff; padding: 8px" href="/search"/>
            </a>
            </div>
        </div>
    
{% endblock %}
