{% extends 'base.html' %}

{% block title %}
<title>
Home | QMUL Transcription Factor Database
</title>
{% endblock %}

{% block content %}
        <!-- Page Contents-->

      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row" style="background-color: #fff; padding: 10px 5px">
              
            <!-- tf count-->
            <div class="col">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-dna"></i></div>
                <div class="name"><strong class="text-uppercase">Genes Coding forTranscription Factors (human)</strong>
                  <div class="count-number">1665</div>
                </div>
              </div>
            </div>

            <!-- tf fam count-->
            <div class="col">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-network-wired"></i></div>
                <div class="name"><strong class="text-uppercase">Transcription Families</strong>
                  <div class="count-number">73</div>
                </div>
              </div>
            </div>

            <!-- drug count-->
            <div class="col">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-pills"></i></div>
                <div class="name"><strong class="text-uppercase">Regulatory Drugs</strong><span>as of 2021</span>
                  <div class="count-number">7219</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        
        <!--About-->
        <section id="about">
        <div class="container-fluid">
          <div class="row d-flex">
            <div class="col">
              <div class="container-fluid" style="background-color: #fff; padding: 10px 30px; text-align: center">
                <h2 style="color: #3098e5; font-weight: 400">About the site</h2><br>
                <p style="font-size: 16px; color: #686d78">Transcription factors are proteins that regulate the process by which genes copy their DNA into RNA. As such, they are integral to many pathways and processes in humans and other organisms.<br>
                    This site aims to provide data regarding all known human transcription factors as well as the genes and drugs they interact with.</p>
                  <hr><br>
                  <p style="font-size: 16px; color: #404654">You can explore the site using the navigation pane on the left hand side or do a quick search using the bar at the top of the page. For a more in-depth search, please see our <a href="/search">search page</a>. You can also <a href="/browse">browse</a> our transcription factors and drugs. <br>
                    If you have gene expression data from GEO, we have a <a href="/geo">dedicated page</a> where you can upload your data and we can calculate the relative activity of the transcription factor/s.
                    </p>
              </div>
            </div>
          </div>
        </div>
        </section>
        
        
      <!-- Contact Section-->
      <section id="contact" style="margin-top: 50px; margin-bottom: 50px">
        <div class="container-fluid">
          <div class="row d-flex">
              <div class="col">
                  <div class="container-fluid" style="background-color: #fff; text-align: center; min-height: 4rem; padding-top: 10px">
                      
                      <h5 style="color: #2778b4; font-weight: 400">Contact Us</h5>
                      <p>If you have any questions or would like to contribute to our site, drop us an email. <br>Otherwise, check out our Github!</p>
                      
                      <div class="row" style="text-align: center; align-items: space-around">
                          <div class="col">
                          
                              <!--github-->
                          <a href="http://github.com/acholyn/testing"><i class="fab fa-github-square" style="font-size: 2rem"></i> </a>
                          <span style="width: 0.5rem"></span>
                                  
                          <!--mail-->
                          <a href="mailto:bt20727@qmul.ac.uk?subject=HTF site"><i class="fas fa-envelope-square" style="font-size: 2rem"></i> </a></div>
                      </div>
                  </div>
              
              </div>
            
            
          </div>
        </div>
      </section>
      
    {% endblock %}

