{% extends 'base.html' %}
{% block title %}
<title>
Advanced Search | QMUL Transcription Factor Database
</title>
{% endblock %}
{% block content %}

<!-- Page contents -->

        <!--Advanced search-->
        <div class="jumbotron jumbotron-fluid text-center bg-event text-light" style="margin-bottom:0px">
  <h1 class="display-4">Advanced Search</h1>
  <p class="lead">Search by transcription factor, gene or drug information.</p>

<div class="container">
 <form accept-charset="UTF-8" method="POST" ><input name="utf8" type="hidden" value="✓">
<div class="row">
    <div class="col-12 py-2 col-md-4 offset-md-0 col-lg-2 offset-lg-3  px-md-0  ml-auto">
      <select name="category" id="category" class=" form-control">
        <option value="novalue" disabled="" selected="">Choose category</option>
        <option value="tf">Transcription Factor/Gene symbol</option>
        <option value="drug">Drug</option>
       
      </select>
    </div>
    
    <div class="col-12 col-md-4 col-lg-3 py-2 px-md-0 mr-auto">
      <div class="input-group">
      <input type="text" placeholder="Search terms" name="keywords" class="form-control" style="height:38px">



      <div class="input-group-append">
        <input type="submit" name="commit" value="Search" class="btn btn-outline-light" data-disable-with="Save Search">

      </div>
    </div> </div>
</div>
 

</form>
            <div class="row" style="padding-top: 20px; margin-left: 30px">
         <p>If you would like to browse the categories, enter a blank search for that category.</p>
        </div>
    
            </div>
        
        </div>
        
  {% endblock %}
